@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    max-width: 590px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .slider
    max-width: 100%
  .hotel
    &-grid
      flex-direction: column
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
  .map
    width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-bottom
      display: none
  .menu
    &-button
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 12px
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-info
      &__stars
        margin-right: 16px
      &__offer
        margin-left: 0
        order: -1
      &__name
        flex-basis: 100%
      &__rating
        display: none
      &__text
        max-width: 280px
    &-wrapper
      justify-content: space-between
    &__slider
      margin-bottom: 20px
  .stars
    flex-basis: auto
  .slider
    height: 350px
  .hotel
    &-right
      height: 450px
      flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%
@media (max-width: 576px)
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__description
        max-width: 235px
  .slider
    height: 250px
