@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 590px
  .card
    width: 225px
    height: 225px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-right
      flex-direction: row
    &-slider
      max-width: 100%
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    padding: 92px 0 93px 0
    &-wrapper
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 60px
    &-slider
      &__item
        max-width: 579px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 48.5%
    height: 255px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &__user, &-bottom
      display: none
  .menu
    &-button
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 12px
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-info
      &__stars
        margin-right: 16px
      &__offer
        margin-left: 0
        order: -1
      &__name
        flex-basis: 100%
      &__rating
        display: none
      &__text
        max-width: 280px
    &-wrapper
      justify-content: space-between
    &-slider
      height: 350px
      &__button
        &_prev
          left: 11px
          width: 4px
          background-size: 7px
        &_next
          right: 11px
          width: 4px
          background-size: 7px
    &-right
      height: 450px
      flex-direction: column
    &__slider
      margin-bottom: 20px
  .stars
    flex-basis: auto
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-bottom: 37px
    &__strong
      margin-top: 5px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-title
      font-size: 26px
      line-height: 32px
      margin-bottom: 42px
      max-width: 300px
    &-slider
      &__item
        max-width: 100%
        padding: 0 31px 36px
        &::after, &::before
          display: none
      &__button
        top: 46px
        &_prev
          left: 50%
          transform: translate(-50%, -50%)
          margin-left: -85px
        &_next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -85px
@media (max-width: 576px)
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__description
        max-width: 235px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
    &-strong
      font-size: 30px
      line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      max-width: 245px
  .activities
    padding-top: 40px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
